extends layout

block content
  h1= title

  form.dropzone(method="post", action="/upload", enctype="multipart/form-data")
    input(id="fileInputEl", type="file", name="file")
    br
    br
    input(type="submit", value="Submit")
