doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/js/require.config.js")
    script(data-main='app/app', src='/js/lib/requirejs/require.js')
  body
    block header
      h1= title